.about-section{
    height: 70vh;
}
.banner{
    background-image: url('./assets/eaters-collective-12eHC6FxPyg-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
}

